In [3]:
import pandas as pd

df = pd.read_csv("/content/HR_comma_sep.csv")

print(df.head(5),'\n')

print(df['Departments'],'\n')

   satisfaction_level  last_evaluation  number_project  average_montly_hours  \
0                0.38             0.53               2                   157
1                0.80             0.86               5                   262
2                0.11             0.88               7                   272
3                0.72             0.87               5                   223
4                0.37             0.52               2                   159

   time_spend_company  Work_accident  left  promotion_last_5years Departments  \
0                   3              0     1                      0       sales
1                   6              0     1                      0       sales
2                   4              0     1                      0       sales
3                   5              0     1                      0       sales
4                   3              0     1                      0       sales

   salary
0     low
1  medium
2  medium
3     low
4     low

0          sales
1          sales
2          sales
3          sales
4          sales
          ...
14994    support
14995    support
14996    support
14997    support
14998    support
Name: Departments, Length: 14999, dtype: object

In [4]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
print(le,'\n')

df['salary']=le.fit_transform(df['salary'])
df['Departments']=le.fit_transform(df['Departments'])

print(df['salary'],'\n')

LabelEncoder()

0        1
1        2
2        2
3        1
4        1
        ..
14994    1
14995    1
14996    1
14997    1
14998    1
Name: salary, Length: 14999, dtype: int64

In [5]:
X=df
y=df.left

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

print(X_train,'\n')
print(y_train,'\n')

       satisfaction_level  last_evaluation  number_project  \
12602                0.10             0.84               7
4889                 0.57             0.68               4
1572                 0.39             0.48               2
13375                0.91             0.68               4
879                  0.82             0.97               5
...                   ...              ...             ...
5191                 0.52             0.96               4
13418                0.49             0.65               4
5390                 0.66             0.73               5
860                  0.79             1.00               4
7270                 0.98             0.86               2

       average_montly_hours  time_spend_company  Work_accident  left  \
12602                   250                   4              0     1
4889                    154                   3              1     0
1572                    154                   3              0     1
13375                   132                   4              0     0
879                     263                   5              0     1
...                     ...                 ...            ...   ...
5191                    246                   3              0     0
13418                   233                   7              0     0
5390                    249                   2              0     0
860                     218                   5              0     1
7270                    219                   4              0     0

       promotion_last_5years  Departments  salary
12602                      0            6       1
4889                       0            4       2
1572                       0            9       1
13375                      0            0       2
879                        0            9       2
...                      ...          ...     ...
5191                       0            8       1
13418                      0            7       2
5390                       0            8       2
860                        0            7       1
7270                       0            7       1

[10499 rows x 10 columns]

12602    1
4889     0
1572     1
13375    0
879      1
        ..
5191     0
13418    0
5390     0
860      1
7270     0
Name: left, Length: 10499, dtype: int64

In [6]:
from sklearn.neural_network import MLPClassifier

clf = MLPClassifier(hidden_layer_sizes=(6,5),random_state=5,verbose=True,learning_rate_init=0.01)

print(clf.fit(X_train,y_train),'\n')

ypred=clf.predict(X_test)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,ypred))

Iteration 1, loss = 0.58342989
Iteration 2, loss = 0.54196816
Iteration 3, loss = 0.48343040
Iteration 4, loss = 0.16334039
Iteration 5, loss = 0.00632175
Iteration 6, loss = 0.00204429
Iteration 7, loss = 0.00104729
Iteration 8, loss = 0.00065463
Iteration 9, loss = 0.00068324
Iteration 10, loss = 0.00037160
Iteration 11, loss = 0.00033577
Iteration 12, loss = 0.00019714
Iteration 13, loss = 0.00017238
Iteration 14, loss = 0.00016613
Iteration 15, loss = 0.00012547
Iteration 16, loss = 0.00010071
Iteration 17, loss = 0.00010136
Iteration 18, loss = 0.00009617
Iteration 19, loss = 0.00008077
Iteration 20, loss = 0.00008429
Iteration 21, loss = 0.00007297
Iteration 22, loss = 0.00006455
Iteration 23, loss = 0.00006027
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
MLPClassifier(hidden_layer_sizes=(6, 5), learning_rate_init=0.01,
              random_state=5, verbose=True)

1.0